.card {
	border: 1px solid var(--chakra-colors-gray-700);
	border-radius: 5px;
	width: 100%;
	margin-right: 0.5em;
}

.card_content {
	padding: 2em;
}

.warp_item {
	width: 50%;
	margin: 0 !important;
}
